*,
*::before,
*::after{
    margin:0 ;
    padding: 0 ;
    box-sizing: border-box ;
}


:root{

    --prmary : gray ;
    --secondary: blue ;
    --tertiary: green ;

}


body{
    display: flex ;
    justify-content: center ;
    align-items: center ;
    height: 100vh ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div{
    height: 10px ;
    width: 10px ;
    background-color: blueviolet ;
}

.container{
    border: 1px solid blue ;
    background-color: green ;
    width: 90%;
    height: 600px ;
    border-radius: 10px ;
}

.concept{
    width: 200px ;
    height: 40px ;
    padding: 10px ;
    border-radius: 10px ;
    margin: 2px ;
    text-align: center ;
    color: white ;

}